<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="styles.css" rel="stylesheet" type="text/css">
      
    <title>Document</title>
</head>
<body style="
    max-width: 500px;
    margin: auto;
  ">

<div class ="navbar">
  <span class="open-slide">
    <a href="#" onclick="openSlideMenu()">
      <svg width="30" height="30">
          <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
          <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
          <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
      </svg>
    </a>
  </span>

  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a id="logearme" >logearme</a>
    <a id="registrarme">registrarme</a>
    <a id="myBtn">añadirme o editarme de la lista!</a>
    <div style="margin-bottom: 10px;" >    
    
    <form action="/escondido" method="POST">
      <input type="submit" value="BORRAME" >  
    </form>
    <form action="/cerrarsesion" method="GET">
      <input type="submit" value="cerrar sesion" >  
    </form>
    <form action="/otrapaginatest" method="GET"> 
      <button type="submit" value="pedir otra pagina en public a traves de servidor" class="btn-link" >otra pagina > </button>
    </form>
    </div>
    <li><a href="inpublicsinservidor.html">html en public, sin ir por servidor, link solo en html</a></li>  
  </div>
</div>

<h1><a href="/">Trabaya!!</a></h1>
<h1>donde la gente te busca.</h1>
<div>
  <h3>
     <%= usuario %>
  </h3>
  <% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
</div>
<div id= "testeo"></div>


    <!-- Trigger/Open The Modal -->

<table class="table" ></table>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="closet">&times;</span>
    <p>Favor selecciona tus datos!</p>
    <form action="/anadir" method="POST">
        <label for="estudio">Nivel de estudio:</label>
            <select id="estudio" name="estudio" required >
                <option value="" disabled selected hidden>elegir</option>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
                <option value="Universitario">Universitario</option>
                <option value="Oficio">Oficio</option>
            </select> 
        <label for="Movilidad">Tipo de movilidad:</label>
            <select id="Movilidad" name="movilidad" required>
                <option value="" disabled selected hidden>elegir</option>
                <option value="peaton">Peaton</option>
                <option value="Moto">Moto</option>
                <option value="Auto">Auto   </option>
          </select>     
        <label for="Sexo">Sexo:</label>
            <select id="sexo" name="sexo" required>
                <option value="" disabled selected hidden>elegir</option>
                <option value="femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
             </select> 
        <label for="telefono">Nro de telefono:</label>
             <input type="tel" id="Celular" name="telefono" placeholder="09xx-111-111" required>
        <input type="submit" value="Submit" >  
    </form>
  </div>

</div>

<!-- The Modal -->
<div id="modalderegistro" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id= "prueba">
      <span class="closeregistro">&times;</span>
      <p>Registrate</p>
      <form action="/register" method="POST">
          <label for="email">Email:</label>
               <input type="email" id="email" name="mail" placeholder="email" required>
               <input type="password" id="password" name="contrasena" placeholder="password" required>
          <input type="submit" value="Submit" >  
      </form>
    </div>
  
  </div>

  <!-- The Modal -->
<div id="modaldelogueo" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id= "pruebalogueo">
      <span class="closelogueo">&times;</span>
      <p>logueate</p>
      <div class="cmensajeflash" id= "mensajeflash">
        <p></p>
      </div>
      <form action="/login" method="POST">
     
          <label for="email">Email:</label>
               <input type="email" id="emaillogueo" name="mail" placeholder="email" required>
               <input type="password" id="passwordlogueo" name="contrasena" placeholder="password" required>
          <input type="submit" value="Submit" >  
          
      </form>
    </div>
  
  </div>


    

</body>
<script src="script.js">  </script>
</html>