<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK href="styles.css" rel="stylesheet" type="text/css">
      
    <title>Document</title>
</head>
<body style="
    max-width: 500px;
    margin: auto;
  ">




    <!-- <span class="open-slide">
      <a href="#" onclick="openSlideMenu()">
        <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
        </svg>
      </a>
    </span> -->

  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <a id="showinstructions" >Show Instructions</a>
    <a id="logearme" >Login</a>
    <a id="registrarme">register</a>
    <a id="myBtn">Add me to the list or edit my data!</a>
    <div style="margin-bottom: 10px;" >    
    
    <form action="/escondido" method="POST">
      <input class="botoncomolink" type="submit" value="Delete my data" >  
    </form>
    <form action="/cerrarsesion" method="GET">
      <input type="submit" class="botoncomolink" value="Close Session" >  
    </form>
    <form action="/otrapaginatest" method="GET"> 
      <button type="submit" class="botoncomolink" value="pedir otra pagina en public a traves de servidor" class="btn-link" >Just a test to request an example page trough server > </button>
    </form>
    </div>
    <li><a href="inpublicsinservidor.html">Just a test to request a example page without goin trough the server</a></li>  
  </div>


<div >
  
  <!-- <img src="/Images/Band Members.png"> -->
  <h1 
  
  >
    <img style="position: relative; top:15px ; cursor: pointer " id="indice"  src="/Images/i.png" alt="pepe"  onclick="openSlideMenu()" ><a href="/">Trabaya!!</a></h1>
  <h1>donde la gente te busca.</h1>
 
    <div id="instructions" class="instrucctionsscreen" >
      <div class="modal-content">
      <h1 style="text-align: center;">Welcome to Trabaya</h1>
      <p>This is a test-App Designed to show a table where users (employees) available to work can post their data to be found by potential Employers. <br>
        <h3>App Restrictions</h3>
        Only logged in users can:</p>
        <ul>
          <li>a) Post their data into the table for other users to see it.</li>
          <li>b)See the Phone number of the user.</li>
        </ul>
        <p>The table only shows data of the employees that updated their profile in the last 24 hs. The ideas behind this in that only people recently looking for a job its shown in the table, so the employer doesn't lose time looking through old posts. </p>
        <button id="botoncerrar" style= "display: block;" > Close Instructions </button>
      
      </div>
  </div>
</div>

<div>
  <h3>
     <%= usuario %>
  </h3>
  <% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
</div>
<div id= "testeo"></div>


    <!-- Trigger/Open The Modal -->

<table class="table" ></table>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="closet">&times;</span>
    <p>Favor selecciona tus datos!</p>
    <form action="/anadir" method="POST">
        <label for="estudio">Nivel de estudio:</label>
            <select id="estudio" name="estudio" required >
                <option value="" disabled selected hidden>elegir</option>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
                <option value="Universitario">Universitario</option>
                <option value="Oficio">Oficio</option>
            </select> 
        <label for="Movilidad">Tipo de movilidad:</label>
            <select id="Movilidad" name="movilidad" required>
                <option value="" disabled selected hidden>elegir</option>
                <option value="peaton">Peaton</option>
                <option value="Moto">Moto</option>
                <option value="Auto">Auto   </option>
          </select>     
        <label for="Sexo">Sexo:</label>
            <select id="sexo" name="sexo" required>
                <option value="" disabled selected hidden>elegir</option>
                <option value="femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
             </select> 
        <label for="telefono">Nro de telefono:</label>
             <input type="tel" id="Celular" name="telefono" placeholder="09xx-111-111" required>
        <input type="submit" value="Submit" >  
    </form>
  </div>

</div>

<!-- The Modal -->
<div id="modalderegistro" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id= "prueba">
      <span class="closeregistro">&times;</span>
      <p>Registrate</p>
      <form action="/register" method="POST">
          <label for="email">Email:</label>
               <input type="email" id="email" name="mail" placeholder="email" required>
               <input type="password" id="password" name="contrasena" placeholder="password" required>
          <input type="submit" value="Submit" >  
      </form>
    </div>
  
  </div>

  <!-- The Modal -->
<div id="modaldelogueo" class="modal">

    <!-- Modal content -->
    <div class="modal-content" id= "pruebalogueo">
      <span class="closelogueo">&times;</span>
      <p>logueate</p>
      <div class="cmensajeflash" id= "mensajeflash">
        <p></p>
      </div>
      <form action="/login" method="POST">
     
          <label for="email">Email:</label>
               <input type="email" id="emaillogueo" name="mail" placeholder="email" required>
               <input type="password" id="passwordlogueo" name="contrasena" placeholder="password" required>
          <input type="submit" value="Submit" >  
          
      </form>
    </div>


    
  </div>


    

</body>
<script src="script.js">  </script>
</html>