
/* The Modal (background) */
body, html {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

/* * {
  box-sizing: border-box;
} */

.bg-image {
  /* The image used */
  background-image: url("https://image.freepik.com/free-photo/engineers-helmets-standing-by-factory_1157-35538.jpg");

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  
}

.topcontainer {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */

  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  top: 0%;
  right: 0%;
  /* margin: auto; */
  /* right: 10%; */
  /* transform: translate(-50%, -20%);  */
  /* z-index: 2; */
  width: 100%;
  padding: 20px;
  text-align: center;
  height: 100%;
}
 


#indice{
  display: inline;
  width: 50px;
  height: 50px;
}

#instructions{
  
  display: block;
}

.instrucctionsscreen{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* .cmensajeflash{
    display: none
  }
   */




  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }


  #botoncerrar{
    background-color: lightgrey;
    width: 300px;
    margin:auto;
  }
  
  /* The Close Button */
  .closet {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closet:hover,
  .closet:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  table, td, th {
      text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }

 
 .navbar{
  background-color:red;
  overflow:hidden;
  height:63px;
}
  
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc!important;
    display:block;
    transition:0.3s;
    cursor: pointer;
  }
  
  .side-nav a:hover{
    color:#fff!important;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
  }
  
  #main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow:hidden;
    width:100%;
  }
  
  @media(max-width:568px){
    .navbar-nav{display:none}
    .bg-image {
      background-repeat: repeat-y;
  }
  
  @media(min-width:568px){
    /*.open-slide{display:none}*/
  }
  
  .btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color:red;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

@media only screen and (min-width: 768px) {
  /* body {
     background-color: red;

  
  } */
#side-menu, #main{
  width: 250px;
  /* margin-left: 250px; */
  

}


  /* side-menu width = '250px';
   marginLeft = '250px'; */

}


.botoncomolink{
  background: none!important;
  border: none;
  padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
  
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

h3{
  color:lavender !important ;
}
